body{
    background-image: url(./img/fondo-rojo-blanco-y-amarillo-bonito-elegante-diseño-gráfico-ilustración-165929275.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}